.Item {
  padding: 10px 20px;
}

.Item-username {
  font-size: 12px;
  padding-bottom: 10px;
}

.Item-title {
  width: 100%;
  padding-bottom: 10px;
  color: #000;
}

.Item-open {
  color: #0087E9;
  font-size: 12px;
}
